body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(red, yellow);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  position: absolute;
  font-size: 100px;
  color: black;
  text-shadow: 5px 5px;
  font-family: times new roman;
}

.container {
  height: 80%;
  background-color: gold;
  box-shadow: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

li {
  font-size: 20px;
  font-family: courier new;
}

#submit {
  display: block;
  margin: auto;
  border-radius: 12px;
  font-size: 15px;
  background-color: gray;
  color: white;
  text-transform: uppercase;
}

#submit:hover {
  background-color: green;
  color: black;
  cursor: pointer;
}

#score {
  background-color: navy;
  padding: 30px;
  margin: 30px;
  text-align: center;
  color: white;
  font-family: copperplate;
  font-size: 20px;
  cursor: pointer;
}
